@using HrHarmony.Models.ViewModels.Employee;
@model DeleteViewModel

@{
    ViewData["Title"] = "Usuń pracownika";
}

<h2>Usunąć @Model.FullName?</h2>

<form asp-controller="Employee" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("~/Views/Shared/Records/_DeleteFormButtons.cshtml")
</form>