@using HrHarmony.Models.ViewModels.ContractType;
@model DeleteViewModel

@{
    ViewData["Title"] = "Usuń typ umowy";
}

<h2>Usunąć typ umowy - @Model.TypeName?</h2>

<form asp-controller="ContractType" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("_DeleteFormButtons")
</form>