@using HrHarmony.Data.Models.ViewModels.ContractType;
@model DeleteViewModel

@{
    ViewData["Title"] = "Usuń rodzaj umowy";
}

<h2>Usunąć rodzaj umowy - @Model.TypeName?</h2>

<form asp-controller="ContractType" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("~/Views/Shared/Records/_DeleteFormButtons.cshtml")
</form>