@using HrHarmony.Data.Models.ViewModels.ContractType;
@model UpdateViewModel

@{
    ViewData["Title"] = "Edycja rodzaju umowy";
}

<h2>Edytuj rodzaj umowy</h2>

@using (Html.BeginForm("Edit", "ContractType", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.TypeName)
        @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("~/Views/Shared/Records/_FormButtons.cshtml")
}
