@using HrHarmony.Models.ViewModels.EducationLevel;
@model DetailsViewModel

@{
    ViewData["Title"] = "Szczegóły poziomu wykształcenia";
}

<h2 class="text-center">Szczegóły poziomu wykształcenia</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Nazwa poziomu</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.LevelName</td>
            <td>
                <a class="btn btn-info btn-sm" asp-controller="EducationLevel" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                <a class="btn btn-danger btn-sm" asp-controller="EducationLevel" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
            </td>
        </tr>
    </tbody>
</table>

@if (Model.IsMainView)
{
    <a href="javascript: history.go(-1)" class="btn btn-secondary text-left">Wróć</a>
}