@using HrHarmony.Data.Models.ViewModels.EducationLevel;
@model DetailsViewModel

@{
    ViewData["Title"] = "Szczegóły poziomu wykształcenia";
}

@if (Layout != null)
{
    <h2 class="text-center">Szczegóły poziomu wykształcenia</h2>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nazwa poziomu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LevelName</td>

                <td class="d-flex">
                    <a class="btn btn-info btn-sm ms-2" asp-controller="EducationLevel" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                    <a class="btn btn-danger btn-sm ms-2" asp-controller="EducationLevel" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@if (Layout != null)
{
    @await Html.PartialAsync("~/Views/Shared/Records/_ComeBackButton.cshtml")
}