@using HrHarmony.Models.ViewModels.EducationLevel;
@model UpdateViewModel

@{
    ViewData["Title"] = "Edycja poziomu wykształcenia";
}

<h2>Edytuj poziom wykształcenia</h2>

@using (Html.BeginForm("Edit", "EducationLevel", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.LevelName)
        @Html.TextBoxFor(model => model.LevelName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LevelName, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("~/Views/Shared/Records/_FormButtons.cshtml")
}