@using HrHarmony.Models.ViewModels.EducationLevel;
@using HrHarmony.Models.ViewModels;
@model PagedRecordsViewModel<IndexViewModel>

@{
    ViewData["Title"] = "Poziomy wykształcenia";
}

@await Html.PartialAsync("~/Views/Shared/Records/_RecordsListHeader.cshtml", "poziomów wykształcenia")
@await Html.PartialAsync("~/Views/Shared/Records/_RecordsList.cshtml")

@* 
<div class="container mt-5">
 
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Lista poziomów wykształcenia</h1>
        <a class="btn btn-primary" asp-controller="EducationLevel" asp-action="Create">Dodaj Nowy Rekord</a>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>Nazwa poziomu</th>
                <th>Akcje</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LevelName</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="EducationLevel" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-info btn-sm" asp-controller="EducationLevel" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-controller="EducationLevel" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 *@