@using HrHarmony.Models.ViewModels.LeaveType;
@model DeleteViewModel

@{
    ViewData["Title"] = "Usuń rodzaj urlopu";
}

<h2>Usunąć rodzaj urlopu - @Model.TypeName?</h2>

<form asp-controller="LeaveType" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("_DeleteFormButtons")
</form>