@using HrHarmony.Models.ViewModels.Experience;

@model CreateViewModel

@{
    ViewData["Title"] = "Utwórz doświadczenie zawodowe";
}

<h2>Utwórz doświadczenie zawodowe</h2>

@using (Html.BeginForm("Create", "Experience", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ExperienceDescription)
        @Html.TextBoxFor(model => model.ExperienceDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ExperienceDescription, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("~/Views/Shared/Records/_FormButtons.cshtml")
}