@using HrHarmony.Data.Models.ViewModels.Experience;
@model DeleteViewModel

@{
    ViewData["Title"] = "Usuń doświadczenie zawodowe";
}

<h2>Usunąć doświadczenie zawodowe - @Model.ExperienceDescription?</h2>

<form asp-controller="Experience" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("~/Views/Shared/Records/_DeleteFormButtons.cshtml")
</form>