<div class="btn-row">
    <a href="@Url.Action("Index")" class="btn btn-secondary text-left">Wróć</a>

    <div class="btn text-right">
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </div>
</div>