<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HrHarmony</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HrHarmony.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HrHarmony</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Zarządzaj
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Index">Pracownicy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EmploymentContract" asp-action="Index">Umowy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Absence" asp-action="Index">Absencje</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Salary" asp-action="Index">Wynagrodzenia</a>

                                <a class="dropdown-item" asp-area="" asp-controller="AbsenceType" asp-action="Index">Rodzaje absencji</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Address" asp-action="Index">Adresy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ContractType" asp-action="Index">Rodzaje umów</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EducationLevel" asp-action="Index">Poziomy wykształcenia</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Experience" asp-action="Index">Doświadczenia</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MaritalStatus" asp-action="Index">Rodzaje stanów cywilnych</a>
                            </ul>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Prywatność</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HrHarmony - <a asp-area="" asp-controller="Home" asp-action="Privacy">Prywatność</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("~/Views/Shared/_AjaxErrorModal.cshtml")
</body>
</html>
