@using HrHarmony.Consts;
@using HrHarmony.Models.ViewModels;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">@DefaultMessages.DefaultUserErrorMessage</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}