<div class="btn-row">
    @await Html.PartialAsync("~/Views/Shared/Records/_ComeBackButton.cshtml")

    <div class="btn text-right">
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </div>
</div>