@using HrHarmony.Data.Models.ViewModels.Home;
@model List<IndexViewModel>

@{
    ViewData["Title"] = "Strona główna";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css">
}

<section id="homePage">
    <div class="container">
        <div class="row">
            @foreach(var card in Model)
            {
                @await Html.PartialAsync("~/Views/Home/_Card.cshtml", card);
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/home.js"></script>
}