
@{
    ViewData["Title"] = "Strona główna";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css">
}

<section id="homePage">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Pracownicy.jpg" />
                                    </p>
                                    <h4 class="card-title">Pracownicy</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania pracownikami</h4>
                                    <p class="card-text">Zarządzaj swoim zespołem efektywnie dzięki naszemu systemowi do zarządzania pracownikami.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Employee" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Employee" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj umowami" src="~/Content/Umowy.jpg" />
                                    </p>
                                    <h4 class="card-title">Umowy</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania umowami</h4>
                                    <p class="card-text">System zarządzania umowami pozwoli Ci skutecznie monitorować i organizować dokumenty związane z zatrudnieniem.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="EmploymentContract" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="EmploymentContract" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Urlopy.jpg" />
                                    </p>
                                    <h4 class="card-title">Urlopy</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania urlopami</h4>
                                    <p class="card-text">Skorzystaj z naszego systemu zarządzania urlopami, aby efektywnie planować i monitorować czas wolny pracowników.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Leave" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Leave" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Absencje.jpeg" />
                                    </p>
                                    <h4 class="card-title">Absencje</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania absencjami</h4>
                                    <p class="card-text">Zarządzaj absencjami pracowników w łatwy sposób za pomocą naszego systemu do śledzenia i raportowania.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Absence" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Absence" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Wynagrodzenia.jpg" />
                                    </p>
                                    <h4 class="card-title">Wynagrodzenia</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania wynagrodzeniami</h4>
                                    <p class="card-text">System zarządzania wynagrodzeniami umożliwi Ci efektywne monitorowanie i administrację wynagrodzeniami pracowników.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Salary" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Salary" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Rodzaje absencji</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania rodzajami absencji</h4>
                                    <p class="card-text">Sprawdź nasz system zarządzania rodzajami absencji, aby skutecznie kategoryzować i monitorować nieobecności pracowników.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="AbsenceType" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="AbsenceType" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Adresy</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania adresami</h4>
                                    <p class="card-text">Efektywnie zarządzaj informacjami adresowymi pracowników dzięki naszemu systemowi zarządzania adresami.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Address" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Address" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Rodzaje umów</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania rodzajami umów</h4>
                                    <p class="card-text">Poznaj różnorodność umów pracowniczych za pomocą naszego systemu zarządzania rodzajami umów.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="ContractType" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="ContractType" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Poziomy wykształcenia</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania poziomami wykształcenia</h4>
                                    <p class="card-text">System zarządzania poziomami wykształcenia umożliwi Ci skuteczne monitorowanie kwalifikacji edukacyjnych pracowników.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="EducationLevel" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="EducationLevel" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Doświadczenia</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania doświadczeniami</h4>
                                    <p class="card-text">Zarządzaj doświadczeniem zawodowym pracowników za pomocą naszego systemu śledzenia kariery zawodowej.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Experience" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="Experience" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Rodzaje urlopów</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania rodzajami urlopów</h4>
                                    <p class="card-text">Skorzystaj z systemu zarządzania rodzajami urlopów, aby dokładnie śledzić i planować różne kategorie urlopów.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="LeaveType" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="LeaveType" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" alt="Zarządzaj pracownikami" src="~/Content/Others.png" />
                                    </p>
                                    <h4 class="card-title">Rodzaje stanów cywilnych</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">System zarządzania stanami cywilnymi</h4>
                                    <p class="card-text">System zarządzania stanami cywilnymi pomoże w efektywnym monitorowaniu i organizowaniu informacji dotyczących stanu cywilnego pracowników.</p>
                                    <ul class="list-inline mt-4">
                                        <li class="list-inline-item">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="MaritalStatus" asp-action="Index">Przeglądaj</a>
                                        </li>
                                        <li class="list-inline-item ms-4">
                                            <a class="btn btn-outline-primary feature" asp-area="" asp-controller="MaritalStatus" asp-action="Create">Dodaj</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
