@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="mt-5 text-center">
    Dziękujemy za korzystanie z naszej aplikacji. Niniejszy dokument określa zasady gromadzenia, przechowywania i przetwarzania informacji osobowych użytkowników.
</p>

<h2 class="mt-5 text-center">Brak Systemu Logowania i Gromadzenia Danych Użytkownika</h2>
<p>
    Chcielibyśmy poinformować, że nasza aplikacja nie posiada systemu logowania ani nie gromadzi i nie zapisuje żadnych informacji osobowych użytkowników. Nie śledzimy ani nie monitorujemy działań użytkowników w żaden sposób, co oznacza, że ​​Twoja prywatność pozostaje chroniona.
</p>

<h2 class="mt-5 text-center">Informacje o Cookies</h2>
<p>
    W naszej aplikacji możemy korzystać z plików cookie wyłącznie w celu poprawy wydajności i doświadczenia użytkownika. Pliki cookie są małymi plikami tekstowymi przechowywanymi na urządzeniu użytkownika. Nie zbieramy w nich żadnych informacji osobowych.
</p>

<h2 class="mt-2 text-center">Bezpieczeństwo</h2>
<p>
    Zabezpieczenie Twoich danych jest dla nas priorytetem. Stosujemy odpowiednie środki bezpieczeństwa, aby chronić informacje przed nieautoryzowanym dostępem, utratą lub ujawnieniem.
</p>

<h2 class="mt-2 text-center">Linki do Zewnętrznych Stron</h2>
<p>
    Nasza aplikacja może zawierać linki do zewnętrznych stron internetowych. Nie ponosimy odpowiedzialności za praktyki dotyczące prywatności lub treści tych witryn zewnętrznych. Zachęcamy do zapoznania się z politykami prywatności tych stron.
</p>

<h2 class="mt-2 text-center">Zmiany w Polityce Prywatności</h2>
<p>
    Ta polityka prywatności może ulegać zmianom w związku z aktualizacjami naszej aplikacji. O wszelkich istotnych zmianach będziemy informować użytkowników na tej stronie.
</p>

<p>
    Prosimy o kontakt w razie dodatkowych pytań dotyczących polityki prywatności pod adresem email - czuczengames@gmail.com.
</p>
