@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="mt-5 text-center">
    Dziękujemy za korzystanie z naszej aplikacji. Niniejszy dokument określa zasady gromadzenia, przechowywania i przetwarzania informacji osobowych użytkowników.
</p>

<h2 class="mt-5 text-center">Zbieranie informacji o odwiedzających</h2>
<p>
    Informujemy, że w celu poprawy funkcjonalności i śledzenia wydajności naszej strony internetowej, zbieramy pewne informacje o odwiedzających. Dane te mogą obejmować adresy IP, rodzaj urządzenia, przeglądarkę internetową oraz aktywność na stronie.
</p>

<h2 class="mt-5 text-center">Wykorzystanie plików cookie</h2>
<p>
    Nasza strona internetowa może używać plików cookie w celu zapewnienia lepszego doświadczenia użytkownika. Pliki cookie są wykorzystywane do przechowywania informacji o preferencjach użytkownika i ułatwienia nawigacji.
</p>

<h2 class="mt-5 text-center">Przechowywanie danych</h2>
<p>
    Dane zebrane o odwiedzających są przechowywane w celu analizy wydajności i poprawy doświadczenia użytkownika. W związku z korzystaniem z usług hostingu od SmarterASP.NET, istnieje możliwość, że dostawca hostingu może mieć dostęp do tych danych w celach technicznych, takich jak zapewnienie działania usług hostingowych, utrzymanie serwerów i zapewnienie bezpieczeństwa systemów.
</p>
<p>
    Zapewniamy jednak, że nie udostępniamy tych danych stronom trzecim ani nie wykorzystujemy ich w celach marketingowych.
</p>

<h2 class="mt-5 text-center">Ochrona danych</h2>
<p>
    Dbamy o bezpieczeństwo zebranych danych i stosujemy odpowiednie środki techniczne i organizacyjne, aby chronić je przed nieautoryzowanym dostępem, utratą lub nieuprawnionym ujawnieniem.
</p>

<h2 class="mt-5 text-center">Linki zewnętrzne</h2>
<p>
    Nasza strona internetowa może zawierać linki do innych stron. Nie ponosimy odpowiedzialności za politykę prywatności ani zawartość tych stron zewnętrznych.
</p>

<h2 class="mt-5 text-center">Zmiany w polityce prywatności</h2>
<p>
    Niniejsza polityka prywatności może być okresowo aktualizowana. Wszelkie istotne zmiany będą publikowane na tej stronie.
</p>

<p class="text-center">
    W przypadku dodatkowych pytań dotyczących polityki prywatności, prosimy o kontakt pod adresem: czuczengames@gmail.com.
</p>
