@using HrHarmony.Models.ViewModels.MaritalStatus;

@model CreateViewModel

@{
    ViewData["Title"] = "Utwórz stan cywilny";
}

<h2>Utwórz stan cywilny</h2>

@using (Html.BeginForm("Create", "MaritalStatus", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.StatusName)
        @Html.TextBoxFor(model => model.StatusName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("_FormButtons")
}