@using HrHarmony.Models.ViewModels.Leave;
@model UpdateViewModel

@{
    ViewData["Title"] = "Edycja urlopu";
}

<h2>Edytuj urlop</h2>

@using (Html.BeginForm("Edit", "Leave", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate)
        @Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("yyyy-MM-ddTHH:mm:ss"), new { @class = "form-control", @type = "datetime-local"})
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("~/Views/Shared/Records/_FormButtons.cshtml")
}