@using HrHarmony.Models.ViewModels.Leave;
@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Urlopy";
}

<div class="container mt-5">
 
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Lista urlopów</h1>
        <a class="btn btn-primary" asp-controller="Leave" asp-action="Create">Dodaj Nowy Rekord</a>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>Data rozpoczęcia</th>
                <th>Akcje</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StartDate</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Leave" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-info btn-sm" asp-controller="Leave" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Leave" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
