html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Strza³ka w dó³ */
.arrow-down::before {
    content: "\25BC"; /* Unicode dla strza³ki w dó³ */
}

/* Strza³ka w górê */
.arrow-up::before {
    content: "\25B2"; /* Unicode dla strza³ki w górê */
}

a.custom-link {
    cursor: pointer;
    text-decoration: none; /* Usuniêcie podkreœlenia linku */
    color: white; /* Nadanie koloru tekstu na bia³y */
}