@model List<List<string>>

@if (Model.Any())
{
    foreach (var log in Model)
    {
        <div class="border border-2 border-dark m-2 p-2">
            @foreach (var line in log)
            {
                <div>@line</div>
            }
        </div>
    }
}
else
{
    <div class="border border-2 border-dark m-2 p-2">Brak</div>
}